.feed-card {
    list-style: none;
    padding: 20px;
}

.feed-card .feed-card-content{
   padding-left: 15px;
}

.feed-card:not(:first-child){
    padding-top: 0;
}

.feed-card .card-background-image {
    background-color: gray;
    width: 80px;
    height: 60px;
}