html {
    color: #222;
    font-family: Verdana;
}


.search-app .display {
    padding: 20px 0 0 32px;
}

.gray {
    color: gray;
}
 .hidden {
    display: none;
}

  .flex-row {
    display: flex;
    flex-direction: row;
}

  .flex-column {
    display:flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}


.home-automation-app input[type="button"] {
    background-color: #4abecc;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: Verdana;
    cursor: pointer;
}

.home-automation-app .error-message {
    color: #FF0000;
    font-size: 12px;
    display: none;
}



