.search-widget {
    padding: 20px;
    justify-content: center;
}

.search-widget .search-box{
  padding:8px;
  font-size: 16px;
  min-width: 250px;
}

.search-widget .search-box:focus{
    outline: none;
    border-color: #4abecc;
    border-style: solid;
}


.search-widget .search-button{
    margin-left: -1px;
}