<div class="chart">
    <div class="chart-selection">
        <label>Select Chart Type</label>
        <input type="checkbox" ng-model="line"><label class="option-label">Line</label>
        <input type="checkbox" ng-model="bar"><label class="option-label">Bar</label><br/><br/>
        <label>Select Bar Color</label>
        <select class="select" ng-model="barColor"
                ng-options="item for item in barColors" ng-disabled="ySelected.length>1"></select><br/><br/>
        <label>Select Line Color</label>
        <select class="select" ng-model="lineColor"
                ng-options="item for item in lineColors" ng-disabled="ySelected.length>1"></select>

    </div>
    <div class="y-selection">
        <!--<select class="select" ng-model="ySelected"-->
                <!--ng-options="item as item.name for item in config.yAxisNames"></select>-->
        <label>Select Y axis parameter</label>
        <select class="select"
                multiple="true"
                ng-model="ySelected"
                ng-options="item as item.name for item in config.yAxisNames"></select>
    </div>
    <svg class="chart-box"></svg>
</div>