.feed-card {
    list-style: none;
    padding: 20px;
}

.feed-card .feed-card-content{
   padding-left: 15px;
   font-size: 16px;
}

.feed-card:not(:first-child){
    padding-top: 0;
}

.feed-card .card-background-image {
    background-color: #cccccc;
    width: 120px;
    height: 90px;
}

.feed-card .feed-card-content .title{
    font-size: 28px;
    font-weight: 600;
}

.feed-card .feed-card-content .title a{
    text-decoration: none;
    color: #222222;
}

.feed-card .feed-card-content .title a:hover{
    color: #4abecc;
    text-decoration: underline;
}


.feed-card .feed-card-content .subtitle{
    margin-top: 10px;
}

