.search-app {
    margin: 0;
    padding: 0;
    color: #222;
    font-family: Verdana;
}

.search-app .disable {
    color: #cccccc;
}
.search-app .hidden {
    display: none;
}

.search-app  .flex-row {
    display: flex;
    flex-direction: row;
}

.search-app  .flex-column {
    display:flex;
    flex-direction: column;
}

.search-app .space-between {
    justify-content: space-between;
}


.search-app input[type="button"] {
    background-color: #4abecc;
    color: #FFFFFF;
    border: none;
    padding: 8px;
    font-family: Verdana;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

.search-app .empty-message {
    text-align: center;
    padding-top: 150px;
    font-size: 1.5em;
    color: #afafaf;
}

.search-app .arrow-right {
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #222;
}

.search-app .arrow-left {
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid #222;
}

.search-app .arrow-left,
.search-app .arrow-right {
    cursor: pointer;
}

.search-app .arrow-left.disabled,
.search-app .arrow-right.disabled {
    cursor: not-allowed;
}

.search-app .arrow-left.disabled {
    border-right-color: #ccc;
}

.search-app .arrow-right.disabled {
    border-left-color: #ccc;
}

.search-app ::-webkit-input-placeholder { font-style: italic; }
.search-app ::-moz-placeholder { font-style: italic; } /* firefox 19+ */
.search-app :-ms-input-placeholder { font-style: italic; } /* ie */
.search-app input:-moz-placeholder { font-style: italic; }

.search-app .loader {
    opacity: 0.25;
    pointer-events:none;
}


